body{
    background: grey;
    font-family: 'Handlee', cursive;
    margin:0;
}

div{
    box-sizing: border-box;
}

header{
    background: white;
    padding: 10px;
    margin:0;
}

.titulo{
    margin:0;
}

.contenedor-post{
    background: white;
    margin-top: 10%;
}

.contenedor-post img{
    width: 100%;
}

.contenedor-post .title-post-header div:first-child{
    display: inline-block;
    width: 80%;
}

.contenedor-post .title-post-header div:last-child{
    display: inline-block;
    margin:0;
    width: 18%;
    padding: 10px;
    text-align: right;
    color:grey;
}

.contenedor-post h2, p{
    padding: 10px;
    margin: 0;
}

.contenedor{
    width: 600px;
    margin: auto;
}

.contenedor h1{
    text-align: center;
}